---
import Layout from '../layouts/Layout.astro';
import Note from '../components/Note.astro';
import Post from '../components/Post.astro';

const blog = await Astro.glob('./blog/*.md');

const types = [...new Set(blog.map((b) => b.frontmatter.type).flat())];
const tags = [...new Set(blog.map((b) => b.frontmatter.tags).flat())];

---

<Layout title="Welcome!">
  <section class="welcome">
    <h1>This is the FMK Astro experiment. Welcome!</h1>
    <p>Anim officia ipsum ut qui dolor ad tempor sunt dolor ea est sit anim. Lorem eu consectetur excepteur aute eiusmod sunt laborum reprehenderit reprehenderit esse sint quis. Commodo commodo officia est laboris commodo qui tempor id duis id labore in nulla officia. Ad reprehenderit laborum deserunt aliquip sit magna aliquip anim. Nulla proident mollit occaecat sunt est qui. Irure ex sunt commodo elit ad ex do.</p>
  </section>
  
  <section>
    {blog.map(b => {
      if (b.frontmatter.type === 'note') {
        return <Note 
          pubDate={b.frontmatter.date}
          link={b.url}
        ><Fragment set:html={b.compiledContent()}/></Note>
        // it's still a pain in the butt rendering content from markdown files
        // other ssg's do this more intuitively
      } else if (b.frontmatter.type === 'post') {
        return <Post 
          pubDate={b.frontmatter.date}
          link={b.url}
          title={b.frontmatter.title}
          summary={b.frontmatter.summary}
        />
      }
    })}
  </section>
</Layout>

<style is:global>
  .welcome {
    margin-block: 2rem;
    padding-block: 2rem;
    
    & h1 {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.1;
    }

    & p {
      font-size: 1.75rem;
      line-height: 1.2;
      font-weight: lighter;
      margin-block-start: 4rem;
    }
  }
  article {
    border: 1px solid CanvasText;
  }
</style>